---
import Layout from "../layouts/Layout.astro";

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title"] });

console.log(response.contents)

---

<Layout title="Yanagita Blog">
  <main>
    <ul>
      {
        response.contents.map((content: any) => (
          <li>
            <a href={content.id}>{content.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
		p {
			font-size: 30px;
		}
  }
</style>