<section class="articles">
  <h2>記事一覧</h2>
  <div class="list">
    <slot />
  </div>
</section>

<style lang="scss">
  .articles {
    @include media-pc {
      margin-top: rem(80);
    }
    @include media-sp {
      margin-top: vw(40);
    }
    h2 {
      text-align: center;
      @include media-pc {
        font-size: rem(20);
      }
      @include media-sp {
        font-size: vw(14);
      }
    }
    .list {
      display: grid;
      @include media-pc {
        grid-template-columns: 1fr 1fr 1fr;
        gap: rem(40);
        margin-top: rem(40);
      }
      @include media-sp {
        grid-template-columns: 1fr 1fr;
        gap: vw(20);
        margin-top: vw(20);
      }
    }
  }
</style>
