---

---

<header class="l-header">
  <div class="l-header__inner">
    <h1><a href="/">BLOG</a></h1>
    <!-- <nav class="l-header__nav">
      <ul class="l-header__list">
        <li class="l-header__item"><a href="/">HOME</a></li>
      </ul>
    </nav> -->
  </div>
</header>

<style lang="scss">
  .l-header {
    position: relative;
    background-color: #333;
    height: rem(60);
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: rem(1000);
      height: 100%;
      margin-inline: auto;
    }
    h1 {
      transition: scale .3s $easeInOutBack;
      a {
        font-size: rem(20);
        color: #fff;
        font-weight: bold;
        letter-spacing: .07em;
      }
      &:hover {
        scale: 1.1;
      }
    }
    &__nav {
    }
    &__list {
      display: flex;
      flex-flow: row wrap;
      column-gap: 1em;
      justify-content: flex-end;
      align-items: center;
    }
    &__item {
      padding: .5em;
      a {
        color: #fff;
      }
    }
  }
</style>